<template>
<div>
  <div class="home-page pb-5" :style="{fontFamily: post.fields.podesavanja.fields.font +'!important'}" >
    <!-- NAVIGACIJA -->
      <Nav
        :slika="post.fields.navigacija.fields.slika.fields.file.url"
        :dugme="post.fields.navigacija.fields.ctaNaziv"
        :link="post.fields.navigacija.fields.ctaLink"
        :strana="post.fields.navigacija.fields.ctaStrana"
        :pozadina="post.fields.podesavanja.fields.primarnaBoja"
        :tekst="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
        :oblik="post.fields.podesavanja.fields.oblikDugmica"
      />
    <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="header-wrapper mb-4" :style="{backgroundImage: 'url('+ post.fields.headerFotografija.fields.file.url +'?w=730&fm=jpg&fl=progressive)'}">
            </div>
            <p class="text-center mb-0 datum">{{post.fields.datum | moment("DD.MM.YYYY")}}</p>
            <h3 class="text-center" v-html="post.fields.naslov"></h3>
            <div class="pt-3 pb-3 text-left text-text" v-html="$md.render(post.fields.text)"></div>
        </div>
      </div>
    </div>
    </div>

  </div>
  <!-- FOOTER -->
  <Footer
      :copyrighttext="post.fields.footer.fields.copyrightTekst"
      :instagram="post.fields.footer.fields.instagramLink"
      :dribbble="post.fields.footer.fields.dribbbleLink"
      :behance="post.fields.footer.fields.behanceLink"
      :youtube="post.fields.footer.fields.youtubeLink"
      :facebook="post.fields.footer.fields.facebookLink"
      :twitter="post.fields.footer.fields.twitterLink"
      :linkedin="post.fields.footer.fields.linkedinLink"
      :tiktok="post.fields.footer.fields.tiktokLink"
      :pinterest="post.fields.footer.fields.pinterestLink"
      :snapchat="post.fields.footer.fields.snapchatLink"
      :medium="post.fields.footer.fields.mediumLink"
      :soundcloud="post.fields.footer.fields.soundcloudLink"
      :twitch="post.fields.footer.fields.twitchLink"
      :pozadina="post.fields.podesavanja.fields.primarnaBoja"
      :tekst="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
    />
  </div>
</template>

<script>
import client from "~/plugins/contentful";
import Nav from "~/components/Nav.vue";
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Nav,
    Header,
    Footer
  },
  data() {
    return {
      isActive: true
    };
  },
  asyncData({ params,error, payload }) {
    if (payload)
      return {
        post: payload
      }
    return client
      .getEntries({
        content_type: "post",
        'fields.slug': params.post,
        include: 9
      })
      .then(response => {
        return {
          post: response.items[0],
          posts: response.items
        };
      })
      .catch(e => {
          if (e.response.status === 404) {
            return this.$nuxt.error({ statusCode: 404, message: e.message })
            }
          });
  },
  head() {
      return {
          title: this.post.fields.naslov,
          meta: [
        {
          hid: "description",
          name: "description",
          content: this.post.fields.text
        },
        {
          hid: "description",
          name: "description",
          content: this.post.fields.text
        },
        {
          property: "og:title",
          content: this.post.fields.naslov
        },
        {
          property: "og:description",
          content: this.post.fields.text
        },
        {
          property: "og:url",
          content: ""
        },
        {
          property: "og:image",
          content: this.post.fields.headerFotografija.fields.file.url
        },
        {
          name: "twitter:title",
          content: this.post.fields.naslov
        },
        {
          name: "twitter:description",
          content: this.post.fields.text
        },
        {
          name: "twitter:image",
          content: this.post.fields.headerFotografija.fields.file.url
        },
        {
          name: "twitter:card",
          content: "summary"
        }
      ],
          link: [
            { rel: 'stylesheet', href: this.post.fields.podesavanja.fields.importFont },
            { rel: 'icon', type: 'image/png', href: this.post.fields.podesavanja.fields.favicon.fields.file.url }
        ]
      }
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.header-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.datum {
  opacity: 0.5;
}
</style>
