<template>
  <div>
    <div
      class="home-page pb-5"
      :style="{fontFamily: post.fields.podesavanja.fields.font +'!important'}"
    >
      <!-- NAVIGACIJA -->
      <Nav
        :slika="post.fields.navigacija.fields.slika.fields.file.url"
        :dugme="post.fields.navigacija.fields.ctaNaziv"
        :link="post.fields.navigacija.fields.ctaLink"
        :strana="post.fields.navigacija.fields.ctaStrana"
        :pozadina="post.fields.podesavanja.fields.primarnaBoja"
        :tekst="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
        :oblik="post.fields.podesavanja.fields.oblikDugmica"
      />
      <!-- Header baner -->
      <Header
        v-if="post.fields.headerOnOff == 'On'"
        :slika="post.fields.headerFotografija.fields.file.url"
        :naslov="post.fields.headerNaslov"
        :podnaslov="post.fields.headerPodnaslov"
      />

      <!-- Sadrzaj stranice SEKCIJE -->
      <div v-for="(item, index) in post.fields.sekcije" :key="index" class="sekcije">
        <TextSection
          v-if="item.sys.contentType.sys.id == 'textSekcija'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :video="item.fields.videoLink"
          :orijentacija="item.fields.orijentacijaTeksta"
        />
        <Uplatnica
          v-if="item.sys.contentType.sys.id == 'uplatnicaSekcija'"
          :naslov="item.fields.naslov"
          :platilac="item.fields.platilac"
          :svrha="item.fields.svrhaUplate"
          :primalac="item.fields.primalac"
          :sifra="item.fields.sifraPlacanja"
          :valuta="item.fields.valuta"
          :iznos="item.fields.iznos"
          :racun="item.fields.racunPrimaoca"
          :model="item.fields.model"
          :poziv="item.fields.pozivNaBroj"
        />
        <TextBg
          v-else-if="item.sys.contentType.sys.id == 'textPozadina'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :video="item.fields.videoLink"
          :pozadina="post.fields.podesavanja.fields.primarnaBoja"
          :textBoja="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
        />
        <PriceSection
          v-else-if="item.sys.contentType.sys.id == 'cenaKursa'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :cene="item.fields.ceneKurseva"
          :dugmePozadina="post.fields.podesavanja.fields.primarnaBoja"
          :cenaBoja="post.fields.podesavanja.fields.primarnaBoja"
          :pozadina="item.fields.bojaPozadine"
          :textBoja="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
          :oblik="post.fields.podesavanja.fields.oblikDugmica"
        />
        <Curiculum
          v-else-if="item.sys.contentType.sys.id == 'faqSekcija'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :pitanja="item.fields.pitanja"
        />
        <Blog
          v-else-if="item.sys.contentType.sys.id == 'blogSekcija'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :postovi="item.fields.blogPostovi"
        />
        <Podcast
          v-else-if="item.sys.contentType.sys.id == 'podkastSekcija'"
          :naslov="item.fields.naslov"
          :text="item.fields.opis"
          :epizode="item.fields.epizode"
        />
        <Video
          v-else-if="item.sys.contentType.sys.id == 'video'"
          :naslov="item.fields.naslov"
          :video="item.fields.videoLink"
        />
        <ImageSection
          v-else-if="item.sys.contentType.sys.id == 'fotografija'"
          :naslov="item.fields.naslov"
          :fotografija="item.fields.fotografija.fields.file.url"
        />
        <Newsletter
          v-else-if="item.sys.contentType.sys.id == 'newsletterForma'"
          :naslov="item.fields.naslov"
          :text="item.fields.text"
          :policy="item.fields.politikaPrivatnostiText"
          :actionLink="item.fields.newsletterPodesavanja.fields.actionLink"
          :uNumber="item.fields.newsletterPodesavanja.fields.uNumber"
          :idNumber="item.fields.newsletterPodesavanja.fields.idNumber"
          :htCode="item.fields.newsletterPodesavanja.fields.htCode"
          :pozadinaBtn="post.fields.podesavanja.fields.primarnaBoja"
          :policyLink="item.fields.politikaPrivatnostiLink"
          :textBoja="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
          :oblik="post.fields.podesavanja.fields.oblikDugmica"
        />
      </div>
    </div>
    <!-- FOOTER -->
    <Footer
      :copyrighttext="post.fields.footer.fields.copyrightTekst"
      :instagram="post.fields.footer.fields.instagramLink"
      :dribbble="post.fields.footer.fields.dribbbleLink"
      :behance="post.fields.footer.fields.behanceLink"
      :youtube="post.fields.footer.fields.youtubeLink"
      :facebook="post.fields.footer.fields.facebookLink"
      :twitter="post.fields.footer.fields.twitterLink"
      :linkedin="post.fields.footer.fields.linkedinLink"
      :tiktok="post.fields.footer.fields.tiktokLink"
      :pinterest="post.fields.footer.fields.pinterestLink"
      :snapchat="post.fields.footer.fields.snapchatLink"
      :medium="post.fields.footer.fields.mediumLink"
      :soundcloud="post.fields.footer.fields.soundcloudLink"
      :twitch="post.fields.footer.fields.twitchLink"
      :pozadina="post.fields.podesavanja.fields.primarnaBoja"
      :tekst="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
    />
  </div>
</template>

<script>
import client from "~/plugins/contentful";
import Nav from "~/components/Nav.vue";
import Header from "~/components/Header.vue";
import TextSection from "~/components/TextSection.vue";
import Uplatnica from "~/components/Uplatnica.vue";
import PriceSection from "~/components/PriceSection.vue";
import TextBg from "~/components/TextBg.vue";
import Curiculum from "~/components/Curiculum.vue";
import Podcast from "~/components/Podcast.vue";
import Video from "~/components/Video.vue";
import ImageSection from "~/components/ImageSection.vue";
import Blog from "~/components/Blog.vue";
import Newsletter from "~/components/Newsletter.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Nav,
    Header,
    TextSection,
    PriceSection,
    Curiculum,
    Uplatnica,
    Podcast,
    Video,
    ImageSection,
    Blog,
    Newsletter,
    TextBg,
    Footer
  },
  data() {
    return {
      isActive: true
    };
  },
  asyncData({ params, error, payload }) {
    if (payload)
      return {
        post: payload
      };
    return client
      .getEntries({
        content_type: "ostaleStrane",
        "fields.slug": params.slug,
        include: 9
      })
      .then(response => {
        return {
          post: response.items[0],
          posts: response.items
        };
      })
      .catch(e => {
          if (e.response.status === 404) {
            return this.$nuxt.error({ statusCode: 404, message: e.message })
            }
          });
  },
  head() {
    return {
      title: this.post.fields.naziv,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.post.fields.metaOpis
        },
        {
          hid: "description",
          name: "description",
          content: this.post.fields.metaOpis
        },
        {
          property: "og:title",
          content: this.post.fields.naziv
        },
        {
          property: "og:description",
          content: this.post.fields.metaOpis
        },
        {
          property: "og:url",
          content: ""
        },
        {
          property: "og:image",
          content: this.post.fields.navigacija.fields.slika.fields.file.url
        },
        {
          name: "twitter:title",
          content: this.post.fields.naziv
        },
        {
          name: "twitter:description",
          content: this.post.fields.opis
        },
        {
          name: "twitter:image",
          content: this.post.fields.navigacija.fields.slika.fields.file.url
        },
        {
          name: "twitter:card",
          content: "summary"
        }
      ],
      link: [
        {
          rel: "stylesheet",
          href: this.post.fields.podesavanja.fields.importFont
        },
        {
          rel: "icon",
          type: "image/png",
          href: this.post.fields.podesavanja.fields.favicon.fields.file.url
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.page-wrapper {
  position: relative;
  flex-direction: column;
  text-align: center;
  width: 80%;
  .image {
    position: relative;
    width: 120px;
    display: block;
    margin: 0px auto 20px auto;
    @include media-breakpoint-down(sm) {
      width: 100px;
      margin: 30px auto 20px auto;
    }
  }
  h1 {
    font-size: 52px;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }
  .image-wraper {
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      height: 280px;
    }
    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  p {
    font-size: 16px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
  .policy-text {
    position: relative;
    display: inline-block;
    padding: 20px 0 0 0;
    font-size: 10px;
    line-height: 14px;
    a {
      color: $white;
      text-decoration: underline;
    }
    @include media-breakpoint-down(sm) {
      padding: 10px 0 0 0;
    }
  }
  .newsletter-form {
    form {
      position: relative;
      width: 360px;
      text-align: left;
      margin: 0 auto;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
  input[type="submit"] {
    position: relative;
    display: block;
    margin: 5px auto 15px auto;
    width: 360px;
    padding: 20px;
    font-size: 16px;
    text-decoration: none !important;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
