@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$black: #111;
$white: #FFF;
$grey: #ECECEC;
$grey2: #EEEEEE;



body {
  font-weight: 400;
}

.page {
  padding: 60px 0 0 0;
  @include media-breakpoint-down(sm) {
    padding: 50px 0 0 0;
  }
}


h1 {
  font-weight: 700;
  font-size: 62px;
  @include media-breakpoint-down(sm) {
    font-size: 42px;
  }
}

h3 {
  font-weight: 700;
  font-size: 42px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
  }
}

h5 {
  font-size: 26px;
  line-height: 42px;
  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

a {
  color: $black !important;
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: 700;
}

.white-text {
  color: $white!important;
}

input {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 0 0 10px 0;
  outline: none;
  border: none;
  background: rgba(0,0,0,0.10);
  @include media-breakpoint-down(sm) {
    margin: 0 0 10px 0;
  }
}

input[type=submit] {
  color: $white;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }

  &:hover {
    opacity: 0.8;
  }
}

label {
  position: relative;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

::placeholder {
  opacity: 0.5;
  color: $black;
}

.r-none {
  border-radius: 0!important;
}
.r-none {
  border-radius: 0!important;
}
.r-10 {
  border-radius: 10px!important;
}
.r-50 {
  border-radius: 50px!important;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
  position: relative;
  padding: 50px 0;
}

.btn-btn {
  position: relative;
  display: inline-block;
  color: $white !important;
  margin: 10px 0 0 0;
  padding: 15px 30px;
  font-size: 22px;
  text-decoration: none !important;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

}

.section-wrapper {
  position: relative;
  padding: 80px 0 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 50px 0 30px 0;
  }
}


.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  //transform: translateY(20px);
}
