<template>
  <div class="accordion-wrapper">
    <div class="accordion-item" :class="{active: show}">
      <div class="header" @click="toggle" v-click-outside="hide">
        <slot name="header"></slot>
      </div>
      <transition
        name="accordion"
        v-on:before-enter="beforeEnter"
        v-on:enter="enter"
        v-on:before-leave="beforeLeave"
        v-on:leave="leave"
      >
        <div class="content" v-show="show" :open="isOpen">
          <div class="content-inner">
            <slot name="content"></slot>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  data() {
    return {
      show: false,
      isOpen: false,
    };
  },
  watch: {
    open(value) {
      this.show = value
    }
  },
  methods: {
    toggle() {
      this.show = !this.show;
    },
    hide() {
      this.show = false
    },
    beforeEnter(el) {
      el.style.height = "0";
      el.style.opacity = "0";
    },
    enter(el) {
      el.style.height = el.scrollHeight + "px";
      el.style.opacity = "1";
    },
    beforeLeave(el) {
      el.style.height = el.scrollHeight + "px";
      el.style.opacity = "1";
    },
    leave(el) {
      el.style.height = "0";
      el.style.opacity = "0";
    }
  },
  directives: {
    ClickOutside
  }
};
</script>

<style lang="scss" >
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.accordion-wrapper {
  position: relative;
  width: 100%;
  .accordion-item {
    position: relative;
    width: 100%;
    margin: 10px 0;
    .header {
      position: relative;
      width: 100%;
      height: 50px;
      font-weight: 700;
      padding: 15px 20px;
      background: $grey;
      display: block;
      cursor: pointer;
      border-bottom: 0px solid transparent !important;
      
      &:after {
        position: absolute;
        top: calc(50% - 1px);
        right: 20px;
        width: 10px;
        height: 2px;
        content: "";
        display: block;
        background: $black;
      }
      &:before {
        position: absolute;
        top: calc(50% - 5px);
        right: 24px;
        width: 2px;
        height: 10px;
        content: "";
        display: block;
        background: $black;
      }
    }
    .content {
      position: relative;
      transition: all 0.1s ease-out;
      padding: 5px 20px 15px 20px;
      .content-inner {
        position: relative;
        padding: 0 0 20px 0;
      }
    }
  }
}

.active {
  background: $white !important;
  border: 1px solid $grey;
  .header:before{
    display: none!important;
  }
}
</style>