<template>
<div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- BLOG POST KOMPONENTA -->
            <h3 class="text-center" v-html="naslov"></h3>
            <div class="pt-3 pb-3 text-left text-text" v-html="$md.render(text)"></div>
            <div class="blog-wrapper w-100 d-flex">
                <nuxt-link class="blog-item" v-for="(item, index) in postovi.slice().reverse()" :key="index" :to="'/blog/'+item.fields.slug">
                <div class="fotka-wrapper mb-3" :style="{backgroundImage: 'url('+ item.fields.headerFotografija.fields.file.url +'?w=345&fm=jpg&fl=progressive)'}"></div>
                <p class="datum">{{item.fields.datum | moment("DD.MM.YYYY")}}</p>
                <h5>{{item.fields.naslov}}</h5>
            </nuxt-link>
            </div>
        </div>
      </div>
    </div>
     </div>
</template>

<script>

export default {
    props: [
        'naslov', 'text', 'postovi'
    ]
}
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.text-text {
  p {
    white-space: pre-line;
  }
}

.blog-wrapper {
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
              flex-wrap: wrap;
        }
    .blog-item {
        position: relative;
        width: calc(50% - 20px);
        margin: 10px;
        text-align: center;
        text-decoration: none!important;
        transition: all 0.3s;
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 10px 0;
        }
        &:hover {
            opacity: 0.7;
        }
        .fotka-wrapper {
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .datum {
            font-weight: 400;
            opacity: 0.5;
            margin: 0;
        }
}
}
</style>