<template>
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3 class="text-center" v-html="naslov"></h3>
          <!-- CURICULUM (FAQ) KOMPONENTA -->
          <div class="cur-wrapper">
            <accordion v-for="(item, index) in pitanja" :key="index">
              <div slot="header">{{item.fields.pitanje}}</div>
              <div slot="content">{{item.fields.odgovor}}</div>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Accordion from "~/components/Accordion.vue";

export default {
  props: ["naslov", "pitanja"],
  components: {
    Accordion
  }
};
</script>

<style lang="scss" >
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.cur-wrapper {
  position: relative;
  padding: 50px 0;
}
</style>