<template>
  <!-- FOOTER KOMPONENTA -->
  <footer class="text-center">
    <div class="container">
      <p class="copyright">{{copyrighttext}} {{new Date().getFullYear()}}.</p>

      <!-- SOCIAL MEDIA LINKS -->
      <div class="social-wrapper text-center">
        <a class="social-btn" v-show="instagram" :href="instagram" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><InstagramLogo :style="{ fill: '#'+tekst + '!important' }" /></a>
         
        <a class="social-btn" v-show="dribbble" :href="dribbble" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><DribbbleLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>
        
        <a class="social-btn" v-show="behance" :href="behance" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><BehanceLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="youtube" :href="youtube" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><YoutubeLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="facebook" :href="facebook" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><FacebookLogo :style="{ fill: '#'+tekst + '!important' }" /></a>

        <a class="social-btn" v-show="twitter" :href="twitter" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><TwitterLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>
        
        <a class="social-btn" v-show="linkedin" :href="linkedin" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><LinkedinLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="tiktok" :href="tiktok" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><TiktokLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="pinterest" :href="pinterest" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><PinterestLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="snapchat" :href="snapchat" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><SnapchatLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="medium" :href="medium" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><MediumLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="soundcloud" :href="soundcloud" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><SoundcloudLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>

        <a class="social-btn" v-show="twitch" :href="twitch" target=_blank :style="{ backgroundColor: '#'+pozadina + '!important' }"><TwitchLogo  :style="{ fill: '#'+tekst + '!important' }"/></a>
      </div>
      <a class="made" href="http://ludusdigital.com" target=_blank>Made with ❤️ Ludus Digital</a>
    </div>
  </footer>
</template>

<script>
import InstagramLogo from '~/assets/svg/instagram.svg';
import DribbbleLogo from '~/assets/svg/dribbble.svg';
import BehanceLogo from '~/assets/svg/behance.svg';
import YoutubeLogo from '~/assets/svg/youtube.svg';
import LinkedinLogo from '~/assets/svg/linkedin.svg';
import FacebookLogo from '~/assets/svg/facebook.svg';
import TwitterLogo from '~/assets/svg/twitter.svg';
import TiktokLogo from '~/assets/svg/tiktok.svg';
import PinterestLogo from '~/assets/svg/pinterest.svg';
import SnapchatLogo from '~/assets/svg/snapchat.svg';
import MediumLogo from '~/assets/svg/medium.svg';
import SoundcloudLogo from '~/assets/svg/soundcloud.svg';
import TwitchLogo from '~/assets/svg/twitch.svg';

export default {
  props:[
    'copyrighttext', 'instagram', 'dribbble','behance','youtube', 'facebook', 'twitter', 'tiktok', 'linkedin', 'pinterest', 'snapchat','medium','soundcloud','twitch','pozadina', 'tekst'
  ],
  components: {
    InstagramLogo,
    DribbbleLogo,
    BehanceLogo,
    YoutubeLogo,
    LinkedinLogo,
    FacebookLogo,
    TwitterLogo,
    TiktokLogo,
    PinterestLogo,
    SnapchatLogo,
    MediumLogo,
    SoundcloudLogo,
    TwitchLogo
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
  .copyright {
    color: $black;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  .social-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      opacity: 0.6;
    }
    img, svg {
      position: absolute;
      height: 20px;
      max-width: 25px;
      max-height: 22px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      fill: #fff;
    }
  }

  .made {
    text-decoration: none!important;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
    padding: 10px 0 0 0;
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
</style>