<template>
  <!-- HEADER KOMPONENTA -->
  <section class="header-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="d-flex align-items-center">
            <div class="header-wrapper">
              <h1 class="headline text-center" v-html="naslov"></h1>
              <h5 class="subheader text-center" v-html="podnaslov"></h5>
            </div>
          </header>
        </div>
      </div>
    </div>
    <div class="header-img" :style="{ backgroundImage: 'url(' + slika + '?w=1500&fm=jpg&fl=progressive)' }"></div>
  </section>
</template>

<script>
export default {
  props: ["naslov", "podnaslov","slika",]
  
};
</script>



<style lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.header-banner {
  position: relative;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: top center;
  z-index: 8;
  overflow: hidden;
  background: #000;
  @include media-breakpoint-down(md) {
    height: 700px;
  }
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
  .header-banner,
  .container,
  .row,
  .col-md-6,
  header {
    height: 100%;
  }
  .header-wrapper {
    width: 100%;
  }
  .headline {
    position: relative;
    color: $white;
    width: 100%;
    font-size: 62px;
    font-weight: 700;   
    text-shadow: none;
    color: #fff;
    z-index: 10;
    @include media-breakpoint-down(md) {
      font-size: 36px;
    }
    @include media-breakpoint-down(sm) {
      padding: 60px 0 0 0;
    }
  }
  .subheader {
    position: relative;
    color: $white;
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    text-shadow: none;
    color: #fff;
    z-index: 10;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  .header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    @include media-breakpoint-down(sm) {
      height: 400px;
    }
  }
  .row {
    @include media-breakpoint-down(sm) {
      margin: 0 !important;
    }
  }
}




$line-height: 40px;
$line-height-abs: -40px;
.scrolldown {
	width: 1px;
	height: $line-height;
	position: absolute;
	bottom: 40px;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
  z-index: 9;
	.line {
		width: 100%;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 50%);
		background-position: 0 $line-height-abs;
		background-size: 100% 200%;
		animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}
}
.scroll-text {
  position: absolute;
	bottom: 50px;
	left: 20;
  width: 100%;
  text-align: left;
  z-index: 9;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
}
@keyframes scrolldown {
	0%{
		background-position: 0 $line-height-abs;
	}
	75% {
		background-position: 0 0;
	}
	100%{
		background-position: 0 $line-height;
	}
}
</style>
