<template>
<!-- FOTOGRAFIJA KOMPONENTA -->
<div class="image-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5 class="text-center" v-html="naslov"></h5>
            <img class="w-100" :src="fotografija+'?w=730&fm=jpg&fl=progressive'" alt="">
        </div>
      </div>
    </div>
     </div>
</template>

<script>

export default {
    props: [
        'naslov', 'fotografija'
    ]
}
</script>

<style lang="scss" scoped>

.text-text {
  p {
    white-space: pre-line;
  }
}
</style>