<template>

  <section class="instagram-section">
    <div class="container">
      <a id="instagram-link" class="insta-link mb-5" :href="instaLink" target="_blank">
        <img src="/img/instagram.svg" alt />
      </a>
      <!-- INSTAGRAM KOMPONENTA -->
      <vue-instagram token="6036021789.1677ed0.b0295ae9e0324d3ab585f0d77c159895" :count="4">
        <template class="row" slot="feeds" slot-scope="props">
          <div class="fancy-list">
            <a :href="props.feed.link" class="insta-item" target="_blank">
              <img :src="props.feed.images.standard_resolution.url" :alt="props.feed.caption.text" />
              <div class="insta-text">
                <img class="arrow" src="/img/arrow.svg" alt />
              </div>
            </a>
          </div>
        </template>
        <template slot="error" slot-scope="props">
          <div class="fancy-alert">{{ props.error.error_message }}</div>
        </template>
      </vue-instagram>
    </div>
  </section>
</template>

<script>
//import VueInstagram from "vue-instagram";

/* window.onNuxtReady(VueInstagram); */

/* if (process.client) {
  const VueInstagram = require("vue-instagram");
} */
export default {
  props: ["instaLink"],
  components: {
    //VueInstagram
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.instagram-section {
  position: relative;
  width: 100%;
  padding: 80px 0;
  background: $black;

  .insta-link {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
    @include media-breakpoint-down(sm) {
      margin: 0 0 0 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .fancy-list {
    position: relative;
    width: 25%;
    display: inline-block;
    padding: 5px;
    @include media-breakpoint-down(sm) {
      width: 50%;
      margin: 0;
    }
  }

  .insta-item {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-top: -6px;
    border: 1px solid #333;
    @include media-breakpoint-down(sm) {
      height: 180px;
    }
  }
  .insta-text {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
    .arrow {
      position: absolute;
      display: block;
      width: 20px !important;
      height: 10px !important;
      bottom: 20px;
      right: 20px;
    }
  }
  .insta-item img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .insta-item:hover .insta-text {
    visibility: visible;
    opacity: 1;
  }
}
</style>