<template>
  <!-- NAVIGACIJA KOMPONENTA -->
  <nav :class="{activeNav: scrolled}" class="main-nav navbar navbar-light">
    <button class="navbar-brand" onclick="history.back(-1)">
      <img class="arrow" src="/img/arrow-l.svg" alt /> Nazad
    </button>
    <nuxt-link
      class="nav-image-wrapper"
      to="/"
      :style="{ backgroundColor: '#'+pozadina + '!important'}"
    >
      <div class="image" :style="{backgroundImage: 'url('+slika+'?w=100)' }"></div>
    </nuxt-link>
    <nuxt-link v-if="strana"
      :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
      class="btn cta-btn"
      :to="'/'+strana"
      :style="{ backgroundColor: '#'+pozadina + '!important', color: '#'+tekst + '!important' }"
    >{{dugme}}</nuxt-link>
    <a v-else :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
      class="btn cta-btn" :href="link"  :style="{ backgroundColor: '#'+pozadina + '!important', color: '#'+tekst + '!important' }" target=_blank>{{dugme}}</a>
  </nav>
</template>
<script>
export default {
  props: ["slika", "dugme", "strana", "link", "pozadina", "tekst", "oblik"],
  data() {
    return {
      scrolled: false
    };
  },
  methods: {
      handleScroll() {
        if(process.browser) {
          this.scrolled = window.scrollY > 0;
        }
      }
  },
  created() {
    if(process.browser) {
      window.addEventListener("scroll", this.handleScroll);
     }
  },
  destroyed() {
    if(process.browser) {
      window.removeEventListener("scroll", this.handleScroll);
     }
  }
};
</script>


<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.main-nav {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  //border-bottom: 1px solid $black;
  //background: rgba(255, 255, 255, 0.8);
  background: $white;
  transition: all 0.3s;
  .navbar-brand {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none !important;
    font-size: 16px;
    transition: all 0.3s;
    padding: 3px 0;
    background: transparent;
    outline: none;
    border: none;
    &:hover .arrow {
      margin: 0 0px 3px 0;
    }
    @include media-breakpoint-down(sm) {
      top: 10px;
      font-size: 14px;
      padding: 10px 0px;
    }
    &:hover {
      opacity: 0.7;
    }
    .arrow {
      width: 10px;
      display: inline-block;
      margin: 0 5px 3px 0;
      transition: all 0.3s;
    }
  }

  .cta-btn {
    position: absolute;
    top: 7px;
    right: 15px;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all 0.3s;
    @include media-breakpoint-down(sm) {
      top: 10px;
      font-size: 12px;
      padding: 10px 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .nav-image-wrapper {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .contact-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      position: relative;
      display: inline-block;
      padding: 0 10px 0 0;
      font-size: 14px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .contact-link {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      background: $blue;
      border-radius: 50%;
      text-align: center;
      margin: 0 5px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
      img {
        position: relative;
        display: inline-block;
        width: 30px;
        padding: 5px;
        margin: 10px 0 0 0;
      }
    }
  }
}
.activeNav {
  background: $white;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
</style>
