<template>
<!-- NEWSLETTER KOMPONENTA -->
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3 class="text-center" v-html="naslov"></h3>
          <div class="pt-3 pb-3 text-center" v-html="$md.render(text)"></div>
          <!-- MAILCHIMP FORMA -->
          <div class="newsletter-form">
             <form
              action="https://sendy.ludusdigital.com/subscribe"
              method="POST"
              accept-charset="utf-8"
              class="forma"
            >
              <!-- <label for="name">Ime</label> -->
              <input :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}" type="text" name="name" id="name" placeholder="Unesite vaše ime" required />
              <!-- <label for="email">Email</label> -->
              <br />
              <input
              :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
                type="email"
                name="email"
                id="email"
                placeholder="Unesite vašu email adresu"
                required
              />
              <br /><br />
              <div style="display:none;">
                <label for="hp">HP</label>
                <br />
                <input type="text" name="hp" id="hp" />
              </div>
              <input type="hidden" name="list" value="x1j5VR9yR2jz892wrOJm31Ag" />
              <input :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}" type="submit" name="submit" id="submit" value="PRIJAVITE SE" :style="{ backgroundColor: '#'+pozadinaBtn + '!important', color: '#'+textBoja + '!important'}" />
              <nuxt-link :to="'/'+policyLink">
                <p class="policy-text text-center" v-html="$md.render(policy)"></p>
              </nuxt-link>
            </form>

           <!--  <form :action="actionLink" method="POST">
              <input type="hidden" name="u" :value="uNumber" />
              <input type="hidden" name="id" :value="idNumber" />
              <div id="mergeTable" class="mergeTable">
                <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                  <label for="MERGE0">
                    Email adresa
                    <span class="req asterisk">*</span>
                  </label>
                  <div class="field-group">
                    <input
                      :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
                      type="email"
                      autocapitalize="off"
                      autocorrect="off"
                      name="MERGE0"
                      id="MERGE0"
                      size="25"
                      value
                      required
                    />
                  </div>
                </div>
                <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                  <label for="MERGE1">Ime i prezime</label>
                  <div class="field-group">
                    <input
                      :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
                      type="text"
                      name="MERGE1"
                      id="MERGE1"
                      size="25"
                      value
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="submit_container clear">
                <input
                  :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
                  type="submit"
                  class="formEmailButton btn-btn"
                  name="submit"
                  value="Prijavite se"
                  :style="{ backgroundColor: '#'+pozadinaBtn + '!important', color: '#'+textBoja + '!important'}"
                />
              </div>
              <nuxt-link :to="policyLink">
                <p class="policy-text text-center" v-html="$md.render(policy)"></p>
              </nuxt-link>
              <input type="hidden" name="mc_signupsource" value="hosted" />
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: [
    "naslov",
    "text",
    "policy",
    "policyLink",
    "podesavanja",
    "actionLink",
    "uNumber",
    "idNumber",
    "htCode",
    "pozadinaBtn",
    "textBoja",
    "oblik"
  ]
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.text-text {
  p {
    white-space: pre-line;
  }
}
.section-wrapper {
  position: relative;
  flex-direction: column;
  text-align: center;
  p {
    font-size: 16px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .newsletter-form {
    form {
      position: relative;
      width: 360px;
      text-align: left;
      margin: 0 auto;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
  input[type="submit"] {
    position: relative;
    display: block;
    margin: 5px auto 15px auto;
    width: 360px;
    padding: 20px;
    font-size: 16px;
    text-decoration: none !important;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.policy-text {
  position: relative;
  display: inline-block;
  padding: 10px 0 0 0;
  font-size: 10px !important;
  line-height: 14px;
  font-weight: 400;
  @include media-breakpoint-down(sm) {
    padding: 10px 0 0 0;
  }
}
</style>