<template>
<!-- PODKAST KOMPONENTA -->
<div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center" v-html="naslov"></h3>
            <div class="pt-3 pb-5 text-left text-text" v-html="$md.render(text)"></div>
            <div class="iframe-wrapper">
              <div v-for="(item, index) in epizode" :key="index" class="pc-item">
                  <h5 class="text-center" v-html="item.fields.naslov"></h5>
                  <div v-html="$md.render(item.fields.opis)"></div>
                <iframe class="podcast-item"  :src="item.fields.link" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
              </div>
             
            </div>
        </div>
      </div>
    </div>
     </div>
</template>

<script>

export default {
    props: [
        'naslov', 'text', 'epizode'
    ]
}
</script>

<style lang="scss" scoped>

.text-text {
  p {
    white-space: pre-line;
  }
}

.podcast-item {
    position: relative;
    width: 100%;
    height: auto;
}
</style>