<template>
<!-- CENA KOMPONENTA -->
  <div class="section-wrapper" :style="{ backgroundColor: '#'+pozadina + '!important'}">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3 class="text-center" v-html="naslov"></h3>
          <div class="cena-wrapper">
            <div v-for="(item, index) in cene" :key="index" class="cena-item">
              <h5>{{item.fields.naslovKursa}}</h5>
              <div class="text-left opis" v-html="$md.render(item.fields.opisKursa)"></div>
              <h4 class="cena" :style="{ color: '#'+cenaBoja + '!important'}">{{item.fields.cena}}</h4>
              <nuxt-link
                :class="{'r-50':('okrugli' === oblik), 'r-none':('pravougaoni' === oblik), 'r-10':('obli' === oblik)}"
                class="btn-btn"
                :to="'/'+item.fields.linkStrane"
                :style="{ backgroundColor: '#'+dugmePozadina + '!important', color: '#'+textBoja + '!important'}"
              >{{item.fields.nazivLinka}}</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["naslov", "cene", "dugmePozadina", "cenaBoja", "pozadina","textBoja", "oblik"]
};
</script>

<style lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.cena-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  align-items: flex-start;
  align-content: flex-start;
  @include media-breakpoint-down(sm) {
     flex-wrap: wrap;
    }
  .cena-item {
    position: relative;
    width: 320px;
    padding: 30px 15px;
    margin: 10px;
    background: $white;
    text-align: center;
    //align-self: stretch;
    height: auto;
  }
  h5 {
    font-weight: 700;
    line-height: 32px;
    padding: 0 0 20px 0;
  }
  h4 {
    font-weight: 700;
  }
}
.opis {
  ul {
    position: relative;
    padding: 0 0 0 20px;
    list-style: none !important;
    li {
      position: relative;
      padding: 5px;
      &:after {
        position: absolute;
        top: 15px;
        left: -14px;
        width: 10px;
        height: 2px;
        content: "";
        display: block;
        background: $black;
      }
      &:before {
        position: absolute;
        top: 11px;
        left: -10px;
        width: 2px;
        height: 10px;
        content: "";
        display: block;
        background: $black;
      }
    }
  }
}
</style>