<template lang="md">
<!-- TEKST SA POZADINOM KOMPONENTA -->
<div class="section-wrapper" :style="{ backgroundColor: '#'+pozadina + '!important'}">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center white-text" v-html="naslov" :style="{ color: '#'+textBoja + '!important'}"></h3>
            <div class="pt-3 pb-3 text-left white-text" v-html="$md.render(text)" :style="{ color: '#'+textBoja + '!important'}"></div>
            <div v-show="video" class="videoWrapper">
              <!-- Copy & Pasted from YouTube -->
              <iframe  width="560" height="315" :src="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
</div>
    
</template>

<script>

export default {
    props: [
        'naslov', 'text', 'video','pozadina', 'textBoja'
    ]
}
</script>

<style lang="scss" scoped>
    
</style>