<template>
<!-- TEXTKOMPONENTA -->
<div class="section-wrapper pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center" v-html="naslov"></h3>
            <div class="pt-3 pb-3 text-text"  :class="{'text-center':('centar' === orijentacija), 'text-left':('levo' === orijentacija)}" v-html="$md.render(text)"></div>
            <!-- Copy & Pasted from YouTube -->
            <div v-show="video" class="videoWrapper"> 
              <iframe  width="560" height="315" :src="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           
        </div>
      </div>
    </div>
     </div>
</template>

<script>
export default {
    props: [
        'naslov', 'text', 'video', 'code', 'orijentacija'
    ]
}
</script>

<style lang="scss" scoped>

.text-text {
  p {
    white-space: pre-line;
  }
}
</style>