<template>
<!-- UPLATNICA KOMPONENTA -->
<div class="image-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5 class="text-center" v-html="naslov"></h5>
            <div class="uplatnica-wrapper">
                <img class="uplatnica-img w-100" src="/img/uplatnica.jpg" alt="">
                <!-- LEFT -->
                <span class="platilac text-polja">{{platilac}}</span>
                <span class="svrha text-polja">{{svrha}}</span>
                <span class="primalac text-polja">{{primalac}}</span>

                <!-- RIGHT -->
                <span class="sifra text-polja">{{sifra}}</span>
                <span class="valuta text-polja">{{valuta}}</span>
                <span class="iznos text-polja">{{iznos}}</span>
                <span class="racun text-polja">{{racun}}</span>
                <span class="model text-polja">{{model}}</span>
                <span class="poziv text-polja">{{poziv}}</span>
            </div>
            
        </div>
      </div>
    </div>
     </div>
</template>

<script>

export default {
    props: [
        'naslov', 'fotografija', 'platilac', 'svrha', 'primalac', 'sifra', 'valuta', 'iznos', 'racun', 'model', 'poziv'
    ]
}
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.text-text {
  p {
    white-space: pre-line;
  }
}

.uplatnica-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    .text-polja {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        z-index: 5;
        padding: 0 5px;
        color: #000;
        background: rgba(255,242,46,0.3);
        @include media-breakpoint-down(md) {
            font-size: 11px;
            line-height: 12px;
            padding: 2px;
            margin: -2px 0 0 0;
        }
        @include media-breakpoint-down(sm) {
            font-size: 8px;
            line-height: 9px;
            padding: 2!important;
            margin: 0!important;
        }
    }
    .uplatnica-img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .platilac {
        position: absolute;
        top: 19%;
        left: 3%;
        width: 43%;
        height: 13%;
        padding: 10px!important;
        @include media-breakpoint-down(md) {
            padding: 2px 5px!important;
        }
        
    }
    .svrha {
        position: absolute;
        top: 37%;
        left: 3%;
        width: 43%;
        height: 13%;
        padding: 10px!important;
         @include media-breakpoint-down(md) {
            padding: 2px 5px!important;
        }
    }
    .primalac {
        position: absolute;
        top: 55%;
        left: 3%;
        width: 43%;
        height: 13%;
        padding: 10px!important;
         @include media-breakpoint-down(md) {
            padding: 2px 5px!important;
        }
    }

    .sifra {
        position: absolute;
        top: 22%;
        right: 40%;
        width: 6.5%;
        height: 5%;
    }
    .valuta {
        position: absolute;
        top: 22%;
        right: 31.5%;
        width: 6.5%;
        height: 5%;
    }

    .iznos {
        position: absolute;
        top: 22%;
        right: 3%;
        width: 25.5%;
        height: 5%;
    }

    .racun {
        position: absolute;
        top: 33%;
        right: 3%;
        width: 43.5%;
        height: 5%;
    }

    .model {
        position: absolute;
        top: 44%;
        right: 41.5%;
        width: 5%;
        height: 5%;
    }
    .poziv {
        position: absolute;
        top: 44%;
        right: 3%;
        width: 35%;
        height: 5%;
    }
}
</style>