<template>
<!-- VIDEO KOMPONENTA -->
<div class="video-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5 class="text-center" v-html="naslov"></h5>
            <div class="videoWrapper">
              <!-- Copy & Pasted from YouTube -->
              <iframe  width="560" height="315" :src="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
     </div>
</template>

<script>

export default {
    props: [
        'naslov', 'video'
    ]
}
</script>

<style lang="scss" scoped>

.text-text {
  p {
    white-space: pre-line;
  }
}
</style>