<template>
  <div class="page">
    <nuxt/>
  </div>
</template>

<script>
export default {
  components: {
  }
};
</script>

<style>

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  display: inline-block;
  font-weight: 700;
}

</style>
