  <template>
  <div :style="{fontFamily: post.fields.podesavanja.fields.font +'!important'}">
    <div class="home-page d-flex justify-content-center">
      <div class="page-wrapper d-flex justify-content-center">
        <div
          class="image-wrapper"
          :style="{ backgroundColor: '#'+post.fields.podesavanja.fields.primarnaBoja+ '!important'}"
        >
          <div
            class="image"
            :style="{backgroundImage: 'url('+post.fields.fotografija.fields.file.url+'?w=150&h=150)' }"
          ></div>
        </div>
        <h3>{{post.fields.ime}}</h3>
        <div class="pb-1" v-html="$md.render(post.fields.opis)"></div>

        <!-- LINKOVI STRANA -->
        <div v-for="(page, index) in post.fields.linkovi" :key="index">
          <a
            v-if="page.fields.link"
            :class="{'r-50':('okrugli' === post.fields.podesavanja.fields.oblikDugmica), 'r-none':('pravougaoni' === post.fields.podesavanja.fields.oblikDugmica), 'r-10':('obli' === post.fields.podesavanja.fields.oblikDugmica)}"
            class="btn-link btn"
            :style="{ backgroundColor: '#'+post.fields.podesavanja.fields.primarnaBoja+ '!important', color: '#'+post.fields.podesavanja.fields.bojaTekstaNaLinkovima + '!important' }"
            :href="page.fields.link"
          >{{page.fields.naziv}}</a>

          <nuxt-link
            v-else
            :class="{'r-50':('okrugli' === post.fields.podesavanja.fields.oblikDugmica), 'r-none':('pravougaoni' === post.fields.podesavanja.fields.oblikDugmica), 'r-10':('obli' === post.fields.podesavanja.fields.oblikDugmica)}"
            :to="'/'+page.fields.slug"
            class="btn-link btn"
            :style="{ backgroundColor: '#'+post.fields.podesavanja.fields.primarnaBoja+ '!important', color: '#'+post.fields.podesavanja.fields.bojaTekstaNaLinkovima + '!important' }"
          >{{page.fields.naziv}}</nuxt-link>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <Footer
      :copyrighttext="post.fields.footer.fields.copyrightTekst"
      :instagram="post.fields.footer.fields.instagramLink"
      :dribbble="post.fields.footer.fields.dribbbleLink"
      :behance="post.fields.footer.fields.behanceLink"
      :youtube="post.fields.footer.fields.youtubeLink"
      :facebook="post.fields.footer.fields.facebookLink"
      :twitter="post.fields.footer.fields.twitterLink"
      :linkedin="post.fields.footer.fields.linkedinLink"
      :tiktok="post.fields.footer.fields.tiktokLink"
      :pinterest="post.fields.footer.fields.pinterestLink"
      :snapchat="post.fields.footer.fields.snapchatLink"
      :medium="post.fields.footer.fields.mediumLink"
      :soundcloud="post.fields.footer.fields.soundcloudLink"
      :twitch="post.fields.footer.fields.twitchLink"
      :pozadina="post.fields.podesavanja.fields.primarnaBoja"
      :tekst="post.fields.podesavanja.fields.bojaTekstaNaLinkovima"
    />
  </div>
</template>

<script>
import client from "~/plugins/contentful";
import Footer from "~/components/Footer.vue";

export default {
  name: 'blog',
  components: {
    Footer
  },
  data() {
    return {
      isActive: true
    };
  },
  asyncData({ params }) {
    return client
      .getEntries({
        content_type: "pocetnaStrana"
      })
      .then(response => {
        return {
          post: response.items[0],
          posts: response.items
        };
      })
      .catch(e => {
          if (e.response.status === 404) {
            return this.$nuxt.error({ statusCode: 404, message: e.message })
            }
          });
  },
  head() {
    return {
      title: this.post.fields.ime,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.post.fields.opis
        },
        {
          hid: "description",
          name: "description",
          content: this.post.fields.opis
        },
        {
          property: "og:title",
          content: this.post.fields.ime
        },
        {
          property: "og:description",
          content: this.post.fields.opis
        },
        {
          property: "og:url",
          content: ""
        },
        {
          property: "og:image",
          content: this.post.fields.fotografija.fields.file.url
        },
        {
          name: "twitter:title",
          content: this.post.fields.ime
        },
        {
          name: "twitter:description",
          content: this.post.fields.opis
        },
        {
          name: "twitter:image",
          content: this.post.fields.fotografija.fields.file.url
        },
        {
          name: "twitter:card",
          content: "summary"
        }
      ],
      link: [
        {
          rel: "stylesheet",
          href: this.post.fields.podesavanja.fields.importFont
        },
        {
          rel: "icon",
          type: "image/png",
          href: this.post.fields.podesavanja.fields.favicon.fields.file.url
        }
      ],
      script: [
        {
          src:
            "https://www.googletagmanager.com/gtag/js?id=" +
            this.post.fields.podesavanja.fields.googleAnalyticsId +
            "",
          async: true,
          defer: true
        },
        {
          innerHTML:
            "window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '"+ this.post.fields.podesavanja.fields.googleAnalyticsId +"');",
          type: "text/javascript"
        },
        {
          innerHTML:
            "!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '" +
            this.post.fields.podesavanja.fields.facebookPixelId +
            "'); fbq('track', 'PageView');",
          type: "text/javascript"
        }
      ],
      noscript: [
        {
          innerHTML:
            "<img height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=" +
            this.post.fields.podesavanja.fields.facebookPixelId +
            "&ev=PageView&noscript=1'/>",
          type: "text/javascript"
        }
      ],
      __dangerouslyDisableSanitizers: ['script', 'noscript']
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~/assets/scss/main.scss";

.page-wrapper {
  position: relative;
  flex-direction: column;
  text-align: center;
  width: 80%;
  .image-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      width: 100px;
      margin: 0px auto 20px auto;
    }
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h3 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
  .btn-link {
    position: relative;
    display: block;
    margin: 6px auto 6px auto;
    width: 360px;
    padding: 18px 20px;
    font-size: 16px;
    text-decoration: none !important;
    transition: all 0.3s;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
